## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
random = np.random.randint(10000000, size=5)
data = {'國家': ['台灣', '日本', '韓國', '菲律賓', '新加坡'],
        '人口': random}
data = pd.DataFrame(data)

print(data)

    國家       人口
0   台灣   947176
1   日本  9669616
2   韓國  7059650
3  菲律賓  6124923
4  新加坡   880806

取人口數最高的國家

In [11]:
sorted_data = data.sort_values(by=['人口'], ascending=False)
sorted_data[0:1]

   國家       人口
1  日本  9669616